<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kirill.kmessage">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ProfileActivity"
            android:label="@string/title_activity_profile" />
        <activity
            android:name=".Activities.MessagesActivity.MessagesActivity"
            android:label="@string/title_activity_messages" />
        <activity
            android:name=".Activities.FileDialog"
            android:label="@string/title_activity_file_dialog" />
        <activity
            android:name=".Activities.FriendsActivity.FriendsActivity"
            android:label="@string/title_activity_friends" />
        <activity
            android:name=".Activities.SettingsActivity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".Activities.AboutActivity"
            android:label="@string/title_activity_about_us" />
        <activity
            android:name=".Activities.SearchActivity.SearchActivity"
            android:label="@string/title_activity_search" />
        <activity
            android:name=".Activities.PhotoActivity.PhotoActivity"
            android:label="@string/title_activity_photo" />
        <activity
            android:name=".Activities.PhotoActivity.Fragments.AllPhotosFragment.PagerImageActivity"
            android:label="@string/title_activity_page_image" />
        <activity
            android:name=".Activities.SettingsActivity.CommonSettingsActivity"
            android:label="@string/title_activity_common_settings" />
        <activity
            android:name=".Activities.NewNoteActivity"
            android:label="@string/title_activity_new_note"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".Activities.MessagesActivity.NewMessageActivity"
            android:label="@string/title_activity_new_message"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".Activities.FriendsActivity.NewFriendActivity"
            android:label="@string/title_activity_new_friend"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".Activities.SubscribersActivity.SubscribersActivity"
            android:label="@string/title_activity_subscribers" />
        <activity
            android:name=".Activities.MusicActivity"
            android:label="@string/title_activity_music" />
        <activity
            android:name=".Activities.GroupsActivity"
            android:label="@string/title_activity_groups" />
        <activity
            android:name=".Activities.VideoActivity"
            android:label="@string/title_activity_video" />
        <activity
            android:name=".Activities.FavoritsActivity"
            android:label="@string/title_activity_favourites" />
        <activity
            android:name=".Activities.DocumentsActivity"
            android:label="@string/title_activity_documents" />
        <activity
            android:name=".Activities.NotesActivity"
            android:label="@string/title_activity_notes" />
        <activity
            android:name=".Activities.MoreActivity"
            android:label="@string/title_activity_more" />
        <activity
            android:name=".Activities.WallActivity"
            android:label="@string/title_activity_wall" />
        <activity
            android:name=".Activities.GameActivity"
            android:label="@string/title_activity_game"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
